/* General */
.classy-org-widget
{
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 12pt;
}

.classy-org-widget h3.title
{
    font-size: 1.6em;
}


/* Campaign Overview */

.classy-org-overview_item
{
    background-color: #f0f0f0;
    border: 1px solid #e2e2e2;
    float: left;
    height: 100px;
    margin: 2px;
    padding: 5px;
    text-align: center;
    width: 125px;
    vertical-align: bottom;
}

.classy-org-overview_item-stat
{
    color: #232a2f;
    display: block;
    margin-bottom: 5px;
    font-size: 1.2em;
    font-weight: 600;
}

.classy-org-overview_item-label
{
    color: #727e83;
    display: block;
    font-weight: 500;
}


/* Leaderboards */

.classy-org-leaderboard_item
{
    margin-bottom: 10px;
}

.classy-org-leaderboard_item-info, .classy-org-leaderboard_item-image
{
    display: inline-block;
    vertical-align: middle;
}

.classy-org-leaderboard_item-image img
{
    border-radius: 50%;
}

.classy-org-leaderboard_item-info-label
{
    color: #ccc;
    display: block;
}

.classy-org-leaderboard_item-info-metric
{
    color: #ccc;
    display: block;
}


/* Progress Bars */

.classy-org-widget
{
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 12pt;
}

.classy-org-progress .title
{
    font-size: 1.3em;
}

.classy-org-progress::after
{
    clear: both;
    content: "";
    display: table;
}

.classy-org-progress_raised
{
    font-weight: 700;
    color: #232a2f;
    font-size: 1.5em;
}

.classy-org-progress_goal
{
    font-size: .75em;
    color: #727e83;
}

.classy-org-progress_bar-mask
{
    width: 100%;
    height: 15px;
    background-color: #e2e2e2;
    border-radius: 15px;
    overflow: hidden;
    margin: 10px 0 0;
}

.classy-org-progress_bar-value
{
    height: 100%;
    background-color: #303030;
    border-radius: 15px;
    transition: width 300ms ease;
}











